<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>

{#<form action="" method="post">#}
{#    {% csrf_token %}#}
{#    用户名：<input type="text" name="username" > <br>#}
{#    密码：<input type="password" name="passwd" > <br>#}
{#    <input type="submit" value="注册" >#}
{##}
{#</form>#}


{#<p>#}
{#    {{ message }}#}
{#    <hr>#}
{#</p>#}
{#<p>常规样式#}
{#    {{ userform }}#}
{#    <hr>#}
{#</p>#}
{##}
{#<p>p标签样式#}
{#    {{ userfrom.as_p }}#}
{#    <hr>#}
{#</p>#}
{##}
{#<p>ul标签#}
{#    {{ userfrom.as_ul }}#}
{#    <hr>#}
{#</p>#}
{##}
{#<p>table样式#}
{#    {{ userfrom.as_table }}#}
{#    <hr>#}
{#</p>#}

<div>
    <h2>自定义样式</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {% for one in userfrom %}
                <tr>
                    <th>{{ one.label }}</th>
                    <td>{{ one }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th>提交</th>
                <td>
                    <input type="submit" value="注册">
                </td>
            </tr>

        </table>
    </form>
{{ message }}

</div>


</body>
</html>